.top-cities-chart-container {
    font-family: 'Arial', sans-serif;
    margin: 40px auto;
    padding: 0px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: none;
  }
  
  .top-cities-chart-container h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    font-size: 20px;
  }
  
  .custom-tooltip {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }
  
  .custom-tooltip .label {
    font-size: 14px;
  }
  